<div class="d-flex align-items-center justify-content-center">
<h1>About Task</h1>
</div>
<div class="d-flex align-items-center">
<h3>Description</h3>
</div>

<p>We would like you to create a music collection app. This task is to check your skills on code pattern, code organization and software architecture experience.
We value everyone's time a lot! So it is not without serious consideration that we decided to add this step to our hiring process. Although it might take you a bit of your time to build the app, it will be very valuable for us, because your skills will do all the hard work in the hiring process. This app is how we will judge your skills.
While building the app, please consider the following:
Apply basic UX patterns to the UI - don't worry too much about the design, but please use bootstrap or equivalent
It's highly recommended that you use a framework (backend and frontend)
We will look for your skills on Object-Oriented Programming (OOP), MVC (Model-View-Controller) pattern, SoC (Separation of Concerns), Best Practices, Documentation and Migrations</p>